<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('madai-MznG0RnHa0c-unsplash.jpg') %>)">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<br>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: 'btn btn-success my-2 my-sm-0 ms-3', type: 'submit' %>

<div class="cards">
  <% @movies.each do |movie| %>
    <div class="card">
      <div class="card-image" style="background-image: url(<%= movie.poster_url %>)"></div>
      <div class="card-content">
        <h2 class="card-title">
          <strong><%= movie.title %></strong>
          <span class="rating">• <%= movie.rating %> ⭐</span>
        </h2>
        <p class="overview"><%= movie.overview %></p>
        <% bookmark = @list.bookmarks.find_by(movie: movie) %>
        <% if bookmark && bookmark.comment.present? %>
          <p class="comment"><i><%= bookmark.comment %></i></p>
          <%= link_to "Delete", bookmark_path(bookmark), class: "delete-link", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="reviews">
  <div class="display-reviews">
    <h2>Reviews</h2>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="review-comment">
          <strong><%= review.rating %></strong>
          <br>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="add-review">
    <h3>Add your review</h3>
    <%= simple_form_for([@list, @review]) do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
